<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Instagram</title>
  <link rel="stylesheet" href="normalize.css">
</head>
<body>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
  <section class="main-header">
    <!-- <p class="flash"><%= notice %><%= alert %></p> -->
  </section>
  <section class="about">
    <center>
    <h1>About Shuji</h1>

      <br>
      私の名前は河本周時<br>
      私のすべき事は技術力の向上<br>
      そのために努力しています<br>
    </center>
  </section>
</body>
</html>
