
header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}
.navbar-default {
    border: 0;
    padding: 5px 25px;
}
.navbar {
    background-color: white;
    color: white;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
}
.navbar-default {
  .navbar-brand {
    color: black;
    padding: 10px 25px;

    &:hover {
      color: black;
    }
  }
  .navbar-nav > li > a {
    color: black;
    &:hover, &:focus {
      color: black;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: black;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}
.about {
  background-color: white;
  color: #333;
  padding: 80px;
}
.function {
  background-color: #e9e9e9;
  padding: 80px;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: rgb(250,250,250);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.function {
  padding-bottom: 185px;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  &:hover {
  opacity: 0.7;
  }
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
}

.flash {
  color: white;
  padding-top: 10px;
}

.post-top{
margin: 0 10px 10px 10px;
padding: 10px;
border-top: 1px solid #ccc;
}

.post-under{
  img{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    margin: 0px 7px 0px 0px;
  }
margin: 0 10px 0px 10px;
padding: 0 10px 10px 10px;
border-bottom: 1px solid #ccc;
}

.resize {
  width: 60px;
 height: 60px;
 float: left;
 margin-right: 10px;
}

.well{
  background-color: #ffffff;
}

.instfont{
  font-family: 'Yellowtail', cursive;
  margin-left: 55px;

}

.instaphoto {
  img{
  width: 30px;
  height: 30px;
}
width: 30px;
height: 30px;
margin-left: 20px;

}



.shujigram {
  img{
  width: 100px;
  height: 30px;
}
margin-left: 55px;

}

.mypage{
  img{
  width:  30px;
  height: 30px;
  }

margin-top: 13px;
}

.myprofileimage{
  img{
    width: 150px;
    height: 150px;
    border-radius: 50% 50%;
    margin: 0px 0px 10px 0px;
  }
  width: auto;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.myprofile{
  width: auto;
  height: auto;
}

.myname{
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}

.field{
  text-align: center;
  margin-bottom: 20px;
  img{
    width: 250px;
    height: 250px;
    border-radius: 50% 50%;
  }
}
